@page
@model miniProiect2.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Intrari</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Partner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Gestion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gestion.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <form method="post" asp-page-handler="Select">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit">Select</button>
                </form>
            </td>

        </tr>
}
    </tbody>
</table>

@if (Model.detailedEntry != null)
{
    <h2>Detailed Entry</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.detailedEntry.Id</td>
                <td>@Model.detailedEntry.Product.Price</td>
                <td>@Model.detailedEntry.Quantity</td>
                <td>@Model.detailedEntry.Value</td>
            </tr>
        </tbody>
    </table>
}